# Sensitive files
Info.plist
GoogleService-Info.plist
Config.plist
info3.plist
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
database.rules.json
.env
*.api_key
*.secret
*.pem
*.cer
*.key

# Xcode-related files
.DS_Store
.build/
xcuserdata/
*.xcodeproj
!*.xcodeproj/project.pbxproj
*.swiftmodules
*.xcarchive
XcodeLogs/

# CocoaPods
Podfile
Podfile.lock
Pods/

# Logs
*.log

# SQLite databases
*.sqlite

# Node modules
node_modules/

# Package resolved files
PackageResolved.swift

# Editor-specific files
.vscode/
.idea/

# Other unnecessary files
*.bak
*.tmp
*.zip
*.tar
*.gz
build/
Sources/CocoaPods/
git-filter-repo/
