# Ignore sensitive plist files
Info.plist
GoogleService-Info.plist
Config.plist
info3.plist

# Xcode-related files
.DS_Store
.build/
xcuserdata/

# Firebase files
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
database.rules.json

# Package resolved files
PackageResolved.swift

# Environment files
.env

# Logs
*.log

# SQLite databases (if applicable)
*.sqlite

# Node modules (if applicable)
node_modules/

# Pods and build directories
Pods/
Sources/
build/